gitea:
  admin:
    username: admin
    passwordMode: initialOnlyNoReset
  config:
    # actions:
    #   ENABLED: true
    server:
      DOMAIN: git.duti.dev
      ROOT_URL: https://git.duti.dev
    service:
      REGISTER_EMAIL_CONFIRM: true
    mailer:
      ENABLED: true
      SMTP_ADDR: mail.duti.dev
      SMTP_PORT: 465
      USER: gitea@duti.dev
      PASSWD: REDACTED_GITEA_PASSWORD

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
    className: traefik
  hosts:
   - host: git.duti.dev
     paths:
       - path: /
         pathType: Prefix
  tls:
  - hosts:
    - git.duti.dev
    secretName: gitea-tls

postgresql-ha:
  enabled: false
postgresql:
  enabled: true
  image:
    repository: bitnamilegacy/postgresql
    tag: 17.6.0-debian-12-r4
valkey:
  enabled: true
  image:
    repository: bitnamilegacy/valkey
    tag: 8.1.3-debian-12-r3
redis-cluster:
  enabled: false
valkey-cluster:
  enabled: false
redis:
  enabled: false

persistence:
  enabled: true
  size: 13Gi


affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: powerful
              operator: In
              values:
                - "true"
